.menu-block {
    height: 100%;
}

.label-title {
    font-size: 20px;
    color: black;
}

.label-note {
    font-size: 15px;
    color: red;
    margin-top: 1%;
}

.another-block {
    display: none;
}