.error-parent {
    margin-top: 10%;
}

.error-code {
    font-size: 6.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.message-head {
    font-size: 25px;
    font-weight: bolder;
}

.message-sub {
    font-size: 12px;
    font-weight: bolder;
}

.message-secondary {
    font-size: 21px;
}

.icon-large {
    font-size: 50px;
}
