.sign-up .card {
    margin-bottom: 10px;
}
.sign-up .card-header {
    background-color: #36569a;
    color: whitesmoke;
}
  
.subheader {
    margin-bottom: 20px;
}
.accept-policy, .consent {
    margin-right: 10px;
}
  
.card-body {
    color: black;
}
  
.active-a {
    text-decoration: underline;
    color: #007bff;
}
  
.policy-modal {
    max-width: 80%;
}

.title-pos {
    line-height: 2.5rem;
}

.emrMessage {
    text-align: center;
    height: 50vh;
}

.welcomeMessage {
    margin: 0px;
    font-size: 30px;
}

.centerMessage {
    margin-top: 6rem;
}