/***************** 5. Instructions Pipeline ****************/

.status .badge {
    width: 128px;
}

#addUserButton {
    width: 130px;
    color: white;
}

.list-permissions {
    list-style-type: none;
    display: flex;
    margin: auto;
}

.permission-role {
    -webkit-appearance: none;
    -moz-appearance: none;
}

.disabled {
    pointer-events: none;
    opacity: .65;
}

.grey-out-title {
    color: #ababab;
}