.pdf {
    height: 60vh;
}

.pdf .row {
    height: 100%;
}

.mdx-consent-style {
    font-size: 15.5px;
    padding: 17px 16px 0 16px;
    line-height: 105%;
}

.checkbox {
    width: 20px;
    height: 20px;
    border: 1px solid #000;
}

.mdx-consent-style li {
    margin-left: 30px;
    padding: 0 25px;
}

.mdx-title {
    text-align: center;
}

.foother-title {
    text-align: right;
    font-size: 15px;
    color: gray;
}