{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}

{% block ExtraHead %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/registration/password_reset.css' %}" rel="stylesheet"/>
{% endblock %}

{% block PageContent %}
    <div class="container">
        <div class="wraper">
            <div class="card mr-2">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Set a new password</h5>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-3 rowTitle">New password:</div>
                            {% bootstrap_field form.new_password1 size='small' show_label=false placeholder=false %}
                        </div>
                        <div class="row">
                            <div class="col-md-3 rowTitle">New password confirmation:</div>
                            {% bootstrap_field form.new_password2 size='small' show_label=false placeholder=false %}
                        </div>
                        <input class="btn btn-primary" type="submit" value="Change my password">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock PageContent %}
