{% load static %}

<div class="col-12">&nbsp;</div>
<h4><strong><span style="color: #212528;">Step 3: </span>&nbsp; Give the new EMISweb permission to use eMR</strong></h4>
<div class="emr-setup-card">
    <div class="card-body">
        <p> This allows eMR to use that new user account in order to securely process your medical records when you need it. </p>
        <div class="col-md-12 text-center">
            <figure class="figure">
                <div class="row">
                    <div class="w-50 mt-3">
                        <a data-fancybox="gallery" id="setup-min-pic_3" href={% static 'images/emis_setup/Medidata - Activating in EMIS 12.png' %}>
                            <img id="setup-full-pic_3" src="{% static 'images/emis_setup/Medidata - Activating in EMIS 12.png' %}" class="figure-img img-fluid block-img" alt="A generic square placeholder image with rounded corners in a figure.">
                        </a>
                    </div>
                    <div class="w-50">
                        <figcaption class="figure-caption mt-2 setup-caption" id="setup-caption_3">i) Click "Edits Users" button</figcaption>
                    </div>
                </div>
            </figure>
        </div>
    </div>
</div>
