<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
Thank you for setting up eMR. A completely free tool that allows you to process SARs and AMRA requests at a click of a button.
<br/>
A confirmation email has been sent to your registered Surgery email address. If one was not provided, a member of the MediData will be in touch shortly.
<br/><br/>
If you have any queries please email us on emr@medi2data.com or contact our support team on 03333 0 55774"<br/>
<br/>
</body>
</html>
