{% load static %}

<div class="col-12">&nbsp;</div>
<h4><strong><span style="color: #212528;">Step 2: </span>&nbsp; Activate the eMR partner product in your EMISweb system</strong></h4>
<div class="emr-setup-card">
    <div class="card-body">
        <p> This tells your EMISweb system that it is okay for our eMR systems to communicate with it. </p>
        <div class="col-md-12 text-center">
            <figure class="figure">
                <div class="row">
                    <div class="w-50 mt-3">
                        <a data-fancybox="gallery" id="setup-min-pic_2" href={% static 'images/emis_setup/Medidata - Activating in EMIS 08.png' %}>
                            <img id="setup-full-pic_2" src="{% static 'images/emis_setup/Medidata - Activating in EMIS 08.png' %}" class="figure-img img-fluid block-img" alt="A generic square placeholder image with rounded corners in a figure.">
                        </a>
                    </div>
                    <div class="w-50">
                        <figcaption class="figure-caption mt-2 setup-caption" id="setup-caption_2">f) Menu > System Tools > EMAS Manager</figcaption>
                    </div>
                </div>
            </figure>
        </div>
    </div>
</div>
