{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}


{% block ExtraHead %}
    <link href="{% static 'css/select2.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/strongPass.css' %}" rel="stylesheet">
    <link href="{% static 'css/onboarding/onboarding.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/intlTelInput.min.css' %}" rel="stylesheet"/>
{% endblock %}

{% block Content %}
    {% include 'onboarding/progress_bar_onboard.html' %}
    <form id="step_form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="step2">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Create your account</h5>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row subheader">
                        <div class="col-12">
                            <p>Please add your details below to continue your registration</p>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4 title-pos">Title <span class="red">*</span></div>
                                {% bootstrap_field pm_form.title show_label=False form_group_class='col-md-7' placeholder='' %}
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4 title-pos">First Name <span class="red">*</span></div>
                                {% bootstrap_field pm_form.first_name show_label=False form_group_class='col-md-7' placeholder='' %}
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4 title-pos">Surname <span class="red">*</span></div>
                                {% bootstrap_field pm_form.surname show_label=False form_group_class='col-md-7' placeholder='' %}
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-6">
                            <p class="text-secondary">Your email address will be your username when you log into eMR. Please note that usernames are case sensitive.</p>
                            <div class="row" id="email_form">
                                <div class="col-md-4 title-pos">Email address <span class="red">*</span></div>
                                {% bootstrap_field pm_form.email1 show_label=False form_group_class='col-md-7' placeholder='' %}
                            </div>
                            <div id="email_error" class="offset-md-3"></div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4 title-pos">Confirm email <span class="red">*</span></div>
                                {% bootstrap_field pm_form.email2 show_label=False form_group_class='col-md-7' placeholder='' %}
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-6">
                            <div class="row" id="password_form">
                                <div class="col-md-4 title-pos">Choose password <span class="red">*</span></div>
                                <div class="col-md-8">
                                    <input type="password" name="password1" class="form-control" required id="id_password1">
                                </div>
                            </div>
                            <div class="row">
                                <div class="progress offset-4 col-md-8 mt-1" style="background-clip: content-box">
                                    <div id="StrengthProgressBar" class="progress-bar progress-bar-success" style="width: 100%;">Very strong</div>
                                </div>
                            </div>
                            <div id="password_error" class="offset-md-3"></div>
                            <div class="row">
                                <div class="col-md-4"></div>
                                <div class="col-md-8">
                                    <span class="text-secondary">Password must be at least 8 characters long and must not contain common words or be related to your username.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4 title-pos">Confirm password <span class="red">*</span></div>
                                {% bootstrap_field pm_form.password2 show_label=False form_group_class='col-md-7' placeholder='' %}
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4 title-pos">Mobile phone <span class="red">*</span></div>
                                {% bootstrap_field pm_form.telephone_mobile show_label=False form_group_class='col-md-8' placeholder='' %}
                                {% bootstrap_field pm_form.telephone_code %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Additional users</h5>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row subheader form-group">
                        <div class="col-12">
                            <p class="mt-3 mb-0">You can set up additional users of eMR within this step. Alternatively you can skip this step and add users later if you wish.</p>
                        </div>
                    </div>
                    {{ user_formset.management_form }}
                    <div class="table-responsive">
                        <table class="table table-bordered vertical-middle">
                            <thead>
                                <tr>
                                    <th style="width: 9%;">Title<span class="red">*</span></th>
                                    <th style="width: 13%;">First Name<span class="red">*</span></th>
                                    <th style="width: 13%;">Surname<span class="red">*</span></th>
                                    <th style="width: 13%;">Email<span class="red">*</span></th>
                                    <th style="width: 11%;">Role (GP, Other)</th>
                                    <th style="width: 30%;">
                                        Mobile Phone<span class="red">*</span>
                                        <p class="font-weight-light text-secondary mb-0">(required to set up two factor authentication)</p>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for form in user_formset.forms %}
                                <tr>
                                    <td>{% bootstrap_field form.title placeholder='' %}</td>
                                    <td>{% bootstrap_field form.first_name placeholder='' %}</td>
                                    <td>{% bootstrap_field form.last_name placeholder='' %}</td>
                                    <td>{% bootstrap_field form.email placeholder='' %}</td>
                                    <td>{% bootstrap_field form.role placeholder='' %}</td>
                                    <td>
                                        {% bootstrap_field form.mobile_phone  form_group_class='col-md-12' show_label=false placeholder='' %}
                                        {% bootstrap_field form.mobile_code %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="row form-group">
                        <div class="col-11">
                            {% bootstrap_button content='Continue' button_type='submit' size='large' button_class='btn btn-primary btn-continue'  %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}

{% block Script %}
    <script src="{% static 'js/jquery.formset.js' %}"></script>
    <script src="{% static 'js/intlTelInput.min.js' %}"></script>
    <script src="{% static 'js/intlTel.js' %}"></script>
    <script src="{% static 'js/onboarding/emr_signup.js' %}"></script>
    <script src="{% static 'js/axcvbn.min.js' %}"></script>
    <script src="{% static 'js/zxcvbn-bootstrap-strength-meter.js' %}" ></script>
    <script>
        $(document).ready(function() {
            $('header').css('display', 'none');
            $('#progress_percent').text('20%');
            $('#progress_bar').attr('aria-valuenow', '20');
            $('#progress_bar').css('width', '20%');

            $('#id_label').removeClass('text-danger');

            $('#id_label').addClass('text-success');

            $("#StrengthProgressBar").zxcvbnProgressBar({
                  passwordInput: "#id_password1",
                  ratings: ["Very Weak", "Weak", "OK", "Strong", "Very strong"]
            });
            setUpTel('id_telephone_mobile', 'id_telephone_code');
            let csrf_token = '{{ csrf_token }}';

            $('#step_form').submit(function(event) {
                var $form = this;
                var match_error = false;
                if($('#id_email1').val() != $('#id_email2').val()) {
                    $('#email_error').text("Email doesn't match");
                    match_error = true;
                } else {
                    $('#email_error').text("");
                }
                if($('#id_password1').val() != $('#id_password2').val()) {
                    $('#password_error').text("Password doesn't match");
                    match_error = true;
                } else {
                    $('#password_error').text("");
                }
                if($('#id_password1').hasClass('is-invalid')){
                    match_error = true;
                }
                if($('#id_telephone_mobile').val().length > 11) {
                    return false;
                }
                if(match_error) {
                    event.preventDefault();
                }
            });

            $('#id_password1').keyup(delay(function() {
                $.ajax({
                    url: "{% url 'accounts:verify_password' %}",
                    type: "POST",
                    dataType: "json",
                    data:{
                        "password": $(this).val(),
                        "first_name": $('#id_first_name').val(),
                        "surname": $('#id_surname').val(),
                        "email": $('#id_email1').val(),
                        "csrfmiddlewaretoken": csrf_token
                    },
                    success:function(data) {
                        $('#password_form').find('.invalid-feedback').remove();
                        $('#id_password1').removeClass("is-invalid");
                        if (!data.results.verified){
                            $('#id_password1').addClass("is-invalid");
                            data.results.warning.map(function(item){
                                $('#id_password1').after('<div class="invalid-feedback">' + item + '</div>');
                            });
                        }
                    }
                });
            }, 500));

            $('#id_email1').change(function() {
              $.ajax({
                  url: "{% url 'accounts:check_email' %}",
                  type: "POST",
                  dataType: "json",
                  data:{
                      "email": $(this).val() ,
                      "csrfmiddlewaretoken": csrf_token
                  },
                  success:function(data) {
                    $('#id_email1').removeClass("is-invalid");
                    $('#email_form').find('.invalid-feedback').remove();
                    if (data.exists){
                      $('#id_email1').addClass("is-invalid");
                      $('#id_email1').after('<div class="invalid-feedback">This email address has already been used to register.</div>');
                    }
                  }
              });
            });

            $('#id_telephone_mobile').after('<div style="margin-left: 10px; display: inline; position: relative;">' +
                                    '<img class="info-icon" id="phone_info_icon" src="{% static 'images/infoiconemr.png' %}">' +
                                    '<div id="phone_info">We require a mobile phone number in order to set up two-factor authentication, which is a very important security step.</div></div>');
            $('#phone_info_icon').on("mouseenter", function() {
                $('#phone_info').show();
            }).on("mouseleave", function() {
                $('#phone_info').hide();
            });
        });
    </script>
{% endblock %}