<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    Note: this is an automated email, please do not reply.
    <br><br>
    You have now successfully set yourself up as user in eMR.
    <br>
    A confirmation email has been sent to your surgery email, using the email address provided.
    <br>
    To assist you in the use of eMR, visit our Resource Centre containing user guides and videos which can be accessed in the left-hand menu bar on the landing page.
    <br><br>
    If you have any queries please contact us.
    <br><br>
    eMR Support Team
    <br>
    emr@medi2data.com
    <br>
    03333 0 55774
</body>
</html>
